@import "tailwindcss";

@source "../../../../packages/design/**/*.{tsx,ts}";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-gray-1: #fefdfc;
  --color-gray-2: #fbf9f7;
  --color-gray-3: #f2f0ee;
  --color-gray-4: #ece8e5;
  --color-gray-5: #e5e0dd;
  --color-gray-6: #ded8d4;
  --color-gray-7: #d4cdc8;
  --color-gray-8: #c3b9b2;
  --color-gray-9: #958a82;
  --color-gray-10: #8a8078;
  --color-gray-11: #69615b;
  --color-gray-12: #251f1a;

  --color-gray-a1: #aa550003;
  --color-gray-a2: #80400008;
  --color-gray-a3: #3c1e0011;
  --color-gray-a4: #451e001a;
  --color-gray-a5: #3c170022;
  --color-gray-a6: #3c18012b;
  --color-gray-a7: #38180037;
  --color-gray-a8: #3918004d;
  --color-gray-a9: #2711007d;
  --color-gray-a10: #22100087;
  --color-gray-a11: #160a00a4;
  --color-gray-a12: #0c0600e5;

  --color-red-1: #fefcfc;
  --color-red-2: #fdf8f7;
  --color-red-3: #fbecea;
  --color-red-4: #fedfd9;
  --color-red-5: #f9d1ca;
  --color-red-6: #f2c2ba;
  --color-red-7: #e8afa5;
  --color-red-8: #dd978c;
  --color-red-9: #d86758;
  --color-red-10: #cb5a4c;
  --color-red-11: #bb4d40;
  --color-red-12: #562a24;

  --color-red-a1: #aa000003;
  --color-red-a2: #c0200008;
  --color-red-a3: #cf190015;
  --color-red-a4: #f9290026;
  --color-red-a5: #e3220035;
  --color-red-a6: #cf1e0045;
  --color-red-a7: #be1d015a;
  --color-red-a8: #b4190073;
  --color-red-a9: #c41700a7;
  --color-red-a10: #b51400b3;
  --color-red-a11: #a41200bf;
  --color-red-a12: #3a0700db;

  --color-green-1: #fbfefa;
  --color-green-2: #f6fbf4;
  --color-green-3: #e6f9dd;
  --color-green-4: #d6f3c8;
  --color-green-5: #c5ebb2;
  --color-green-6: #b3df9b;
  --color-green-7: #9bce7f;
  --color-green-8: #7ab953;
  --color-green-9: #70af49;
  --color-green-10: #65a33d;
  --color-green-11: #4a7e26;
  --color-green-12: #2a401e;

  --color-green-a1: #33cc0005;
  --color-green-a2: #2fa3000b;
  --color-green-a3: #44d20022;
  --color-green-a4: #41c80037;
  --color-green-a5: #3fbd004d;
  --color-green-a6: #3eae0064;
  --color-green-a7: #389e0080;
  --color-green-a8: #3a9700ac;
  --color-green-a9: #378f00b6;
  --color-green-a10: #358600c2;
  --color-green-a11: #2a6700d9;
  --color-green-a12: #0e2700e1;

  --color-violet-1: #fdfdff;
  --color-violet-2: #f7f8ff;
  --color-violet-3: #eff2ff;
  --color-violet-4: #e2e8ff;
  --color-violet-5: #d5ddff;
  --color-violet-6: #c5cfff;
  --color-violet-7: #b0bcfb;
  --color-violet-8: #93a0f3;
  --color-violet-9: #4545c4;
  --color-violet-10: #3934b2;
  --color-violet-11: #4f54ca;
  --color-violet-12: #252963;

  --color-violet-a1: #0000ff02;
  --color-violet-a2: #0020ff08;
  --color-violet-a3: #0030ff10;
  --color-violet-a4: #0035ff1d;
  --color-violet-a5: #0031ff2a;
  --color-violet-a6: #002cff3a;
  --color-violet-a7: #0027f34f;
  --color-violet-a8: #001fe36c;
  --color-violet-a9: #0000aeba;
  --color-violet-a10: #06009ecb;
  --color-violet-a11: #0007b2b0;
  --color-violet-a12: #000549da;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: "InterVariable", sans-serif;
  }
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --color-gray-1: oklch(99.4% 0.0019 57.65);
      --color-gray-2: oklch(98.2% 0.0026 57.65);
      --color-gray-3: oklch(95.6% 0.0039 57.65);
      --color-gray-4: oklch(93.2% 0.0059 57.65);
      --color-gray-5: oklch(91% 0.0067 57.65);
      --color-gray-6: oklch(88.6% 0.0087 57.65);
      --color-gray-7: oklch(85.3% 0.0108 57.65);
      --color-gray-8: oklch(79.2% 0.0145 57.65);
      --color-gray-9: oklch(64.1% 0.0179 57.65);
      --color-gray-10: oklch(60.6% 0.0167 57.65);
      --color-gray-11: oklch(49.8% 0.0138 57.65);
      --color-gray-12: oklch(24.3% 0.0139 57.65);

      --color-gray-a1: color(display-p3 0.6745 0.349 0.0235 / 0.012);
      --color-gray-a2: color(display-p3 0.5098 0.2667 0.0196 / 0.032);
      --color-gray-a3: color(display-p3 0.2392 0.1255 0.0078 / 0.067);
      --color-gray-a4: color(display-p3 0.2314 0.1176 0.0039 / 0.102);
      --color-gray-a5: color(display-p3 0.2118 0.0941 0.0078 / 0.134);
      --color-gray-a6: color(display-p3 0.2118 0.098 0.0039 / 0.169);
      --color-gray-a7: color(display-p3 0.1882 0.0784 0.0039 / 0.212);
      --color-gray-a8: color(display-p3 0.1882 0.0824 0.0039 / 0.299);
      --color-gray-a9: color(display-p3 0.1294 0.0588 0.0039 / 0.487);
      --color-gray-a10: color(display-p3 0.1137 0.0549 0 / 0.526);
      --color-gray-a11: color(display-p3 0.0745 0.0314 0 / 0.64);
      --color-gray-a12: color(display-p3 0.0392 0.0196 0 / 0.895);

      --color-red-1: oklch(99.4% 0.0023 29.35);
      --color-red-2: oklch(98.4% 0.0056 29.35);
      --color-red-3: oklch(95.5% 0.0162 29.35);
      --color-red-4: oklch(92.7% 0.0352 29.35);
      --color-red-5: oklch(89.3% 0.0466 29.35);
      --color-red-6: oklch(85.4% 0.0569 29.35);
      --color-red-7: oklch(80.4% 0.0692 29.35);
      --color-red-8: oklch(74.3% 0.0872 29.35);
      --color-red-9: oklch(64.6% 0.1451 29.35);
      --color-red-10: oklch(60.6% 0.1464 29.35);
      --color-red-11: oklch(56.3% 0.1451 29.35);
      --color-red-12: oklch(34.4% 0.0666 29.35);

      --color-red-a1: color(display-p3 0.6745 0.0235 0.0235 / 0.012);
      --color-red-a2: color(display-p3 0.6353 0.1451 0.0196 / 0.032);
      --color-red-a3: color(display-p3 0.6706 0.1529 0.0078 / 0.083);
      --color-red-a4: color(display-p3 0.8392 0.1686 0.0078 / 0.146);
      --color-red-a5: color(display-p3 0.7725 0.1373 0.0039 / 0.204);
      --color-red-a6: color(display-p3 0.6902 0.1216 0.0039 / 0.263);
      --color-red-a7: color(display-p3 0.6392 0.1176 0.0039 / 0.346);
      --color-red-a8: color(display-p3 0.6078 0.102 0.0039 / 0.44);
      --color-red-a9: color(display-p3 0.6745 0.098 0 / 0.636);
      --color-red-a10: color(display-p3 0.6196 0.0863 0 / 0.679);
      --color-red-a11: color(display-p3 0.5608 0.0745 0 / 0.726);
      --color-red-a12: color(display-p3 0.1922 0.0275 0 / 0.851);

      --color-green-1: oklch(99.3% 0.0051 135.1);
      --color-green-2: oklch(98.2% 0.0106 135.1);
      --color-green-3: oklch(96% 0.041 135.1);
      --color-green-4: oklch(93.3% 0.0654 135.1);
      --color-green-5: oklch(89.9% 0.085 135.1);
      --color-green-6: oklch(85.5% 0.1012 135.1);
      --color-green-7: oklch(79.6% 0.1186 135.1);
      --color-green-8: oklch(72.1% 0.1502 135.1);
      --color-green-9: oklch(68.9% 0.1502 135.1);
      --color-green-10: oklch(65.1% 0.1502 135.1);
      --color-green-11: oklch(53.8% 0.1326 135.1);
      --color-green-12: oklch(34.5% 0.0626 135.1);

      --color-green-a1: color(display-p3 0.4118 0.8039 0.0196 / 0.02);
      --color-green-a2: color(display-p3 0.2196 0.6118 0.0235 / 0.04);
      --color-green-a3: color(display-p3 0.349 0.7843 0.0078 / 0.126);
      --color-green-a4: color(display-p3 0.3137 0.7451 0 / 0.2);
      --color-green-a5: color(display-p3 0.2941 0.7098 0.0039 / 0.283);
      --color-green-a6: color(display-p3 0.2824 0.6471 0.0039 / 0.365);
      --color-green-a7: color(display-p3 0.2588 0.5843 0.0039 / 0.471);
      --color-green-a8: color(display-p3 0.251 0.549 0 / 0.624);
      --color-green-a9: color(display-p3 0.2314 0.5137 0 / 0.659);
      --color-green-a10: color(display-p3 0.2235 0.4784 0 / 0.706);
      --color-green-a11: color(display-p3 0.1686 0.3608 0 / 0.797);
      --color-green-a12: color(display-p3 0.0588 0.1333 0 / 0.867);

      --color-violet-1: oklch(99.4% 0.0028 277.3);
      --color-violet-2: oklch(98.1% 0.0102 277.3);
      --color-violet-3: oklch(96.1% 0.0196 277.3);
      --color-violet-4: oklch(93.5% 0.0394 277.3);
      --color-violet-5: oklch(90.4% 0.0588 277.3);
      --color-violet-6: oklch(86.4% 0.0784 277.3);
      --color-violet-7: oklch(80.8% 0.0991 277.3);
      --color-violet-8: oklch(72.9% 0.1321 277.3);
      --color-violet-9: oklch(55.7% 0.2074 277.3);
      --color-violet-10: oklch(51.2% 0.1944 277.3);
      --color-violet-11: oklch(51% 0.1944 277.3);
      --color-violet-12: oklch(31.4% 0.1093 277.3);

      --color-violet-a1: color(display-p3 0.0196 0.0196 1 / 0.008);
      --color-violet-a2: color(display-p3 0.0196 0.1451 0.8784 / 0.032);
      --color-violet-a3: color(display-p3 0.0078 0.1294 0.9412 / 0.063);
      --color-violet-a4: color(display-p3 0.0039 0.1804 0.9294 / 0.11);
      --color-violet-a5: color(display-p3 0.0039 0.1725 0.9294 / 0.161);
      --color-violet-a6: color(display-p3 0.0039 0.1294 0.9294 / 0.22);
      --color-violet-a7: color(display-p3 0.0039 0.1176 0.9373 / 0.302);
      --color-violet-a8: color(display-p3 0.0039 0.0863 0.8902 / 0.416);
      --color-violet-a9: color(display-p3 0 0 0.8157 / 0.64);
      --color-violet-a10: color(display-p3 0.0078 0 0.702 / 0.687);
      --color-violet-a11: color(display-p3 0.0078 0 0.702 / 0.687);
      --color-violet-a12: color(display-p3 0 0.0039 0.2824 / 0.851);
    }
  }
}

@layer base {
  body {
    @apply font-sans bg-gray-1 text-gray-12 antialiased h-device overflow-hidden;
  }
}

@utility h-device {
  height: 100dvh;
}

@utility min-h-device {
  min-height: 100dvh;
}
