@import "tailwindcss" source(none);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --gray-1: oklch(0.9911 0 0);
  --gray-2: oklch(0.9821 0 0);
  --gray-3: oklch(0.9551 0 0);
  --gray-4: oklch(0.931 0 0);
  --gray-5: oklch(0.9067 0 0);
  --gray-6: oklch(0.8853 0 0);
  --gray-7: oklch(0.8514 0 0);
  --gray-8: oklch(0.7921 0 0);
  --gray-9: oklch(0.6434 0 0);
  --gray-10: oklch(0.61 0 0);
  --gray-11: oklch(0.5032 0 0);
  --gray-12: oklch(0.2435 0 0);

  --background: var(--gray-1);
  --foreground: var(--gray-12);
  --card: var(--gray-1);
  --card-foreground: var(--gray-12);
  --popover: var(--gray-1);
  --popover-foreground: var(--gray-12);
  --primary: var(--gray-12);
  --primary-foreground: var(--gray-1);
  --secondary: var(--gray-4);
  --secondary-foreground: var(--gray-12);
  --muted: var(--gray-3);
  --muted-foreground: var(--gray-9);
  --accent: var(--gray-3);
  --accent-foreground: var(--gray-12);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: var(--gray-5);
  --input: var(--gray-6);
  --ring: var(--gray-9);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--gray-12);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--gray-3);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --radius: 0.625rem;
}
 
.dark {
  --gray-1: oklch(0.1776 0 0);
  --gray-2: oklch(0.2134 0 0);
  --gray-3: oklch(0.252 0 0);
  --gray-4: oklch(0.285 0 0);
  --gray-5: oklch(0.3132 0 0);
  --gray-6: oklch(0.3485 0 0);
  --gray-7: oklch(0.4017 0 0);
  --gray-8: oklch(0.4891 0 0);
  --gray-9: oklch(0.5382 0 0);
  --gray-10: oklch(0.5829 0 0);
  --gray-11: oklch(0.7699 0 0);
  --gray-12: oklch(0.9491 0 0);
}
 
@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.8125rem;
  --text-sm--line-height: calc(1.25 / 0.8125);
  --text-base: 0.875rem;
  --text-base--line-height: calc(1.5 / 0.875);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
 
@layer base {
  * {
    @apply box-border outline-ring/50 selection:bg-foreground selection:text-background;
    @apply dark:selection:bg-[rgba(255,255,255,0.99)] dark:selection:text-black;
  }

  body {
    @apply font-mono text-base bg-background text-foreground;
  }
}

@utility h-device {
  @apply h-[100dvh];
}

@utility min-h-device {
  @apply min-h-[100dvh];
}