@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Geist Sans";
  src: url("/Geist[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/JetBrainsMono[wght].ttf") format("truetype"); 
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --gray-1: oklch(0.9911 0 0);
  --gray-2: oklch(0.9821 0 0);
  --gray-3: oklch(0.9551 0 0);
  --gray-4: oklch(0.931 0 0);
  --gray-5: oklch(0.9067 0 0);
  --gray-6: oklch(0.8853 0 0);
  --gray-7: oklch(0.8514 0 0);
  --gray-8: oklch(0.7921 0 0);
  --gray-9: oklch(0.6434 0 0);
  --gray-10: oklch(0.61 0 0);
  --gray-11: oklch(0.5032 0 0);
  --gray-12: oklch(0.2435 0 0);
  --radius: 0.625rem;
}
 
.dark {
  --gray-1: oklch(0.1776 0 0);
  --gray-2: oklch(0.2134 0 0);
  --gray-3: oklch(0.252 0 0);
  --gray-4: oklch(0.285 0 0);
  --gray-5: oklch(0.3132 0 0);
  --gray-6: oklch(0.3485 0 0);
  --gray-7: oklch(0.4017 0 0);
  --gray-8: oklch(0.4891 0 0);
  --gray-9: oklch(0.5382 0 0);
  --gray-10: oklch(0.5829 0 0);
  --gray-11: oklch(0.7699 0 0);
  --gray-12: oklch(0.9491 0 0);
}
 
@theme inline {
  --font-sans: "Geist Sans";
  --font-mono: "JetBrains Mono";

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
 
@layer base {
  * {
    @apply box-border outline-gray-12/50 selection:bg-gray-12 selection:text-gray-1;
    @apply dark:selection:bg-[rgba(255,255,255,0.99)] dark:selection:text-gray-12;
  }

  body {
    @apply font-sans bg-gray-1 text-gray-12;
  }
}

@utility h-device {
  @apply h-[100dvh];
}

@utility min-h-device {
  @apply min-h-[100dvh];
}

.dark {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}