/* biome-ignore-all lint/style/noDescendingSpecificity: ok */

@import "tailwindcss";
@import "tw-animate-css";

@source "../../../../node_modules/@director.run/design/src";
@source "./**/*.{ts,tsx}";

@plugin "tailwindcss-radix";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --sage-1: oklch(0.9923 0.0025 165.08);
  --sage-2: oklch(0.9803 0.0025 165.08);
  --sage-3: oklch(0.9556 0.0035 174.48);
  --sage-4: oklch(0.9314 0.0035 174.48);
  --sage-5: oklch(0.9099 0.0042 157.17);
  --sage-6: oklch(0.8858 0.0035 174.47);
  --sage-7: oklch(0.8508 0.0052 164.98);
  --sage-8: oklch(0.7915 0.0052 164.97);
  --sage-9: oklch(0.6392 0.0103 171.61);
  --sage-10: oklch(0.6057 0.0105 171.57);
  --sage-11: oklch(0.5008 0.0081 174.11);
  --sage-12: oklch(0.2396 0.0117 167.56);

  --base-light: oklch(0.9923 0.0025 165.08);
  --base-dark: oklch(0% 0 0);
  --base: var(--base-dark);
  --base-inverse: var(--base-light);

  --green: oklch(0.9078 0.1785 144.47);
  --grass: oklch(0.8164 0.2013 143.85);
  --forest: oklch(0.3283 0.0793 143.93);
  --lagoon: oklch(0.3222 0.0529 185.26);
  --river: oklch(0.8358 0.1446 185.34);
  --beira: oklch(0.9144 0.132 187.4);
  --slate: oklch(0.3554 0.0374 81.03);
  --honey: oklch(0.775 0.151 75.23);
  --sunflower: oklch(0.8567 0.1348 79.12);
  --wine: oklch(0.2888 0.089 352.72);
  --blush: oklch(0.7543 0.1491 349.7);
  --rose: oklch(0.8701 0.0852 347.13);
  --spruce: oklch(0.3235 0.0509 116.67);
  --electric: oklch(0.8606 0.1997 119.03);
  --lime: oklch(0.9215 0.1676 116.84);

  --sentiment-negative: oklch(0.5104 0.1811 31.28);
  --sentiment-negative-hover: oklch(0.4551 0.1596 31.27);
  --sentiment-positive: oklch(0.5262 0.1589 136.97);
  --sentiment-positive-hover: oklch(0.4347 0.1299 136.54);
  --sentiment-warning: oklch(0.837 0.168 89.92);
  --sentiment-warning-hover: oklch(0.7312 0.1478 89.27);

  --background: var(--sage-3);

  --surface: var(--sage-1);
  --surface-subtle: var(--sage-2);
  --surface-neutral: var(--sage-3);
  --content-primary: var(--sage-12);
  --content-secondary: var(--sage-11);
  --content-tertiary: var(--sage-10);
  --content-accent: var(--forest);

  --interactive-primary: var(--forest);
  --interactive-primary-hover: oklch(0.4241 0.0933 144.09);
  --interactive-accent: var(--green);
  --interactive-accent-hover: oklch(0.8081 0.169 144.38);
  --interactive-secondary: var(--sage-6);
  --interactive-secondary-hover: var(--sage-7);

  --border: color-mix(in oklab, var(--color-base) 15%, transparent);

  --shadow-hairline: 0 0 0 0.5px var(--border);
  --shadow-popover:
    0 0 0 0.5px var(--border),
    color-mix(in oklab, var(--color-base) 10%, transparent) 0 3px 9px 0px,
    color-mix(in oklab, var(--color-base) 7%, transparent) 0 0 20px 2px;

  --shadow-inner-hairline: inset 0 0 0 0.5px var(--border);
}

.dark {
  --sage-1: oklch(0.1795 0.0038 164.58);
  --sage-2: oklch(0.2108 0.0036 164.68);
  --sage-3: oklch(0.2495 0.0035 164.77);
  --sage-4: oklch(0.2816 0.0047 174.1);
  --sage-5: oklch(0.3098 0.0046 174.15);
  --sage-6: oklch(0.3478 0.0064 164.65);
  --sage-7: oklch(0.4001 0.0073 170.09);
  --sage-8: oklch(0.489 0.0099 168.42);
  --sage-9: oklch(0.5327 0.0175 170.54);
  --sage-10: oklch(0.5785 0.0155 173.79);
  --sage-11: oklch(0.7659 0.0099 171.7);
  --sage-12: oklch(0.9473 0.0025 165.07);

  --background: var(--sage-1);

  --surface: var(--sage-2);
  --surface-subtle: var(--sage-3);
  --surface-neutral: var(--sage-4);

  --content-accent: var(--green);

  --base: var(--base-light);
  --base-inverse: var(--base-dark);

  --base-dark: oklch(0% 0 0);

  --border: color-mix(in oklab, var(--color-base) 20%, transparent);

  --shadow-popover:
    0 0 0 0.5px var(--color-border),
    color-mix(in oklab, var(--color-base-dark) 20%, transparent) 0 3px 9px 0px,
    color-mix(in oklab, var(--color-base-dark) 20%, transparent) 0 0 20px 2px;
}

@theme inline {
  --color-\*: initial;
  --shadow-\*: initial;
  --text-\*: initial;

  --color-background: var(--background);

  --color-surface: var(--surface);
  --color-surface-subtle: var(--surface-subtle);
  --color-surface-neutral: var(--surface-neutral);
  --color-content-primary: var(--content-primary);
  --color-content-secondary: var(--content-secondary);
  --color-content-tertiary: var(--content-tertiary);
  --color-content-accent: var(--content-accent);

  --color-interactive-primary: var(--interactive-primary);
  --color-interactive-primary-hover: var(--interactive-primary-hover);
  --color-interactive-accent: var(--interactive-accent);
  --color-interactive-accent-hover: var(--interactive-accent-hover);
  --color-interactive-secondary: var(--interactive-secondary);
  --color-interactive-secondary-hover: var(--interactive-secondary-hover);

  --color-base: var(--base);
  --color-base-inverse: var(--base-inverse);
  --color-base-light: var(--base-light);
  --color-base-dark: var(--base-dark);

  --color-green: var(--green);
  --color-grass: var(--grass);
  --color-forest: var(--forest);
  --color-lagoon: var(--lagoon);
  --color-river: var(--river);
  --color-beira: var(--beira);
  --color-slate: var(--slate);
  --color-honey: var(--honey);
  --color-sunflower: var(--sunflower);
  --color-wine: var(--wine);
  --color-blush: var(--blush);
  --color-rose: var(--rose);
  --color-spruce: var(--spruce);
  --color-electric: var(--electric);
  --color-lime: var(--lime);

  --color-sentiment-negative: var(--sentiment-negative);
  --color-sentiment-negative-hover: var(--sentiment-negative-hover);
  --color-sentiment-positive: var(--sentiment-positive);
  --color-sentiment-positive-hover: var(--sentiment-positive-hover);
  --color-sentiment-warning: var(--sentiment-warning);
  --color-sentiment-warning-hover: var(--sentiment-warning-hover);

  --color-border: var(--border);

  --shadow-hairline: var(--shadow-hairline);
  --shadow-popover: var(--shadow-popover);
  --shadow-inner-hairline: var(--shadow-inner-hairline);

  --text-xs: 0.75rem;
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-md: 1rem;
  --text-md--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;
}

@layer base {
  * {
    @apply box-border border-border outline-none selection:text-content-primary selection:bg-content-primary/15;
  }

  body {
    @apply font-sans antialiased bg-background text-content-primary;
  }
}

@utility border-hairline {
  @apply border-[0.5px];
}

@utility border-b-hairline {
  @apply border-b-[0.5px];
}

@utility border-t-hairline {
  @apply border-t-[0.5px];
}

@utility border-r-hairline {
  @apply border-r-[0.5px];
}

@utility border-l-hairline {
  @apply border-l-[0.5px];
}

@utility border-y-hairline {
  @apply border-y-[0.5px];
}

@utility border-x-hairline {
  @apply border-x-[0.5px];
}

@utility focus-visible {
  @apply focus-visible:ring-2 focus-visible:ring-interactive-primary focus-visible:ring-offset-2 focus-visible:ring-offset-background dark:focus-visible:ring-interactive-accent;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.prose {
  --tw-prose-body: var(--content-primary);
  --tw-prose-headings: var(--content-primary-secondary);
  --tw-prose-lead: var(--content-primary);
  --tw-prose-links: var(--color-content-accent);
  --tw-prose-bold: var(--content-primary);
  --tw-prose-counters: var(--content-tertiary);
  --tw-prose-bullets: var(--content-tertiary);
  --tw-prose-hr: var(--border);
  --tw-prose-quotes: var(--content-primary);
  --tw-prose-quote-borders: var(--color-pink-300);
  --tw-prose-captions: var(--color-pink-700);
  --tw-prose-code: var(--content-secondary);
  --tw-prose-pre-code: var(--content-primary);
  --tw-prose-pre-bg: var(--surface-neutral);
  --tw-prose-th-borders: var(--border);
  --tw-prose-td-borders: var(--border);

  :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-medium;
  }

  :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-medium;
  }

  :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-medium;
  }

  :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-medium;
  }

  :where(h5):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-medium;
  }

  :where(h6):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply font-medium;
  }

  :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply focus-visible;
  }

  :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      @apply has-[img]:inline-block;

      :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        @apply my-0 inline-block;
      }
    }
  }
}
