@import "tailwindcss";

:root {
  --sage-1: hsl(150 33% 99%);
  --sage-2: hsl(150 14% 97%);
  --sage-3: hsl(160 10% 94%);
  --sage-4: hsl(160 6% 91%);
  --sage-5: hsl(140 5% 88%);
  --sage-6: hsl(160 4% 85%);
  --sage-7: hsl(150 4% 80%);
  --sage-8: hsl(150 3% 73%);
  --sage-9: hsl(157 3% 54%);
  --sage-10: hsl(157 3% 50%);
  --sage-11: hsl(160 3% 38%);
  --sage-12: hsl(154 12% 12%);

  --tomato-1: hsl(0 100% 99%);
  --tomato-2: hsl(7 100% 98%);
  --tomato-3: hsl(10 92% 95%);
  --tomato-4: hsl(12 100% 91%);
  --tomato-5: hsl(11 100% 88%);
  --tomato-6: hsl(11 95% 84%);
  --tomato-7: hsl(10 82% 78%);
  --tomato-8: hsl(10 75% 70%);
  --tomato-9: hsl(10 78% 54%);
  --tomato-10: hsl(10 73% 51%);
  --tomato-11: hsl(10 82% 45%);
  --tomato-12: hsl(8 50% 24%);
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--sage-2);
  --color-foreground: var(--sage-12);
  --color-card: var(--sage-3);
  --color-card-foreground: var(--sage-12);
  --color-popover: var(--sage-1);
  --color-popover-foreground: var(--sage-12);
  --color-primary: var(--sage-12);
  --color-primary-foreground: var(--sage-1);
  --color-secondary: var(--sage-6);
  --color-secondary-foreground: var(--sage-11);
  --color-muted: var(--sage-4);
  --color-muted-foreground: var(--sage-11);
  --color-accent: var(--sage-4);
  --color-accent-foreground: var(--sage-12);
  --color-destructive: var(--tomato-10);
  --color-destructive-foreground: var(--tomato-1);
  --color-border: var(--sage-8);
  --color-input: var(--sage-8);
  --color-ring: var(--sage-12);

  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
}

@layer base {
  * {
    @apply box-border;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply font-sans text-base bg-background text-foreground antialiased;
  }
}

@utility prose {
  @apply [&>*+.text-paragraph--large]:mt-[1.25em];
}

@utility text-paragraph--large {
  @apply font-sans text-3xl leading-tight tracking-[0.015em] text-pretty;
  @apply sm:text-4xl;
}
